--find-links https://download.pytorch.org/whl/torch_stable.html

torch
torchvision

matplotlib
numpy
opencv-python
Pillow
PyYAML
scipy
tqdm
tensorboard
seaborn
pandas
PyQt5
bettercam
protobuf
ipython
ultralytics

mss
pygame
pynput
pywin32
requests
wheel
termcolor
GPUtil
py-cpuinfo
pyautogui
pandas
